In [1]:
import numpy as np # library to handle data in a vectorized manner

import pandas as pd # library for data analsysis
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import json # library to handle JSON files

from geopy.geocoders import Nominatim
from googlemaps import Client as googlemaps# convert an address into latitude and longitude values

from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import folium # map rendering library
from os import chdir
from glob import glob
import pandas as pdlib


print('Libraries imported.')

Libraries imported.

In [2]:
df = pd.read_csv('/Users/ishaanbuch/Desktop/gujarat.csv',header=None)
df.columns=["ST Code","STATE NAME","DT Code","DISTRICT NAME","SDT Code","SUB-DISTRICT NAME","Town Code","Area Name"]
df['Lat']=""
df['Long']=""
df = df.iloc[1:]
df.head()

  ST Code STATE NAME DT Code DISTRICT NAME SDT Code SUB-DISTRICT NAME Town Code  Area Name Lat Long
1      24    GUJARAT       0       GUJARAT        0           GUJARAT         0    GUJARAT
2      24    GUJARAT     468       Kachchh        0           Kachchh         0    Kachchh
3      24    GUJARAT     468       Kachchh     3722           Lakhpat         0    Lakhpat
4      24    GUJARAT     468       Kachchh     3723             Rapar         0      Rapar
5      24    GUJARAT     468       Kachchh     3723             Rapar    802442  Rapar (M)

In [3]:
for x in range(0,len(df),1):
    try:
        geolocator = Nominatim(user_agent="AgriSol")
        geocode_result = geolocator.geocode(df['SUB-DISTRICT NAME'][x])
        df['Lat'][x] = geocode_result.latitude
        df['Long'][x] = geocode_result.longitude
    except IndexError:
        print("Address was wrong...")
    except Exception as e:
        print("Unexpected error occurred.", e )
        print(x)

Unexpected error occurred. 0
0

In [4]:
df.head()

  ST Code STATE NAME DT Code DISTRICT NAME SDT Code SUB-DISTRICT NAME Town Code  Area Name      Lat     Long
1      24    GUJARAT       0       GUJARAT        0           GUJARAT         0    GUJARAT   22.385  71.7453
2      24    GUJARAT     468       Kachchh        0           Kachchh         0    Kachchh  23.5833       70
3      24    GUJARAT     468       Kachchh     3722           Lakhpat         0    Lakhpat  23.8269  68.7752
4      24    GUJARAT     468       Kachchh     3723             Rapar         0      Rapar   32.565  73.1506
5      24    GUJARAT     468       Kachchh     3723             Rapar    802442  Rapar (M)   32.565  73.1506

In [5]:
df.to_csv ('/Users/ishaanbuch/Desktop/gujaratLatLong.csv', index = False, header=True)

In [6]:
import requests

In [7]:
key="IIz7LmS61a2WT28DyL6ot89zecCJd1gZ6OROZ4kJ"
radius=500
LIMIT=100

In [12]:
def getSoilDetails(names, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for name, lat, lng in zip(names, latitudes, longitudes):
            
        # create the API request URL
        url = 'https://api.ambeedata.com/history/by-lat-lang'.format(
            lat, 
            lng, 
            key, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()
        
        soil_list.append([(
            name, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    soildata = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    soildata.columns = ['SUB-DISTRICT NAME', 'Latitude', 'Longitude']
    
    return(nearby_venues)

In [13]:
soil_data = getSoilDetails(names=df['SUB-DISTRICT NAME'],
                                   latitudes=df['Lat'],
                                   longitudes=df['Long']
                                  )

ValueError: Length mismatch: Expected axis has 0 elements, new values have 3 elements

In [ ]:
print(soil_data)